<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Page Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta name="google-signin-client_id" content="522191654800-6rr990129vrqrrmgtg52kl07hthdnjrq.apps.googleusercontent.com"> -->
      <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css"/>
    </head>
    <body>
      <div class="top-div">
        <div class="navigation">
          <div>
            <span class="navbar-item-left">
              <div id="dropdown" class="dropdown">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div id="hidden">
                <a href="#">Contact us</a>
                <a href="#">About</a>
                <a href="#">Help</a>
              </div>
            </span>
            <span class="navbar-items">
              <%if(!currentUser){%>
                <button onclick="location.href = '/register'" class="btn hide">Sign Up</button>
                <a class="login-btn" href="/login" style="border-left: 3px solid white">Login</a>
                <a class="hide" href="#" style="margin-right:2%">Support</a>
                <a class="hide" href="#">Contact us</a>
              <%} else {%>
                <a class="login-btn" href="/logout" style="border-left: 3px solid white">Logout</a>
                <a class="hide" href="#" style="margin-right:2%">Support</a>
                <a class="hide" href="#">Contact us</a>
              <%}%>
            </span>
          </div>
        </div>
      </div>