<% include partials/header%>
  <link rel="stylesheet" href="stylesheets/home.css">
  <% if(message.length > 0){%>
    <div id="alertDialog" class="alert alert-success register-success">
      <span>
        <p role="alert"><%=message%></p>
        <p onclick="hideAlert()" style="float:right;cursor: pointer;margin-top:-2rem;">X</p>
      </span>          
    </div>
  <% }%>
  <p>Welcome Home</p>
<% include partials/footer%>