<% include partials/header%>
  <link rel="stylesheet" href="stylesheets/index.css">
  <div id="homeBackground">
    <button class="get-started" onclick="location.href= '/login'">Get Started</button>
  </div>
<% include partials/footer%>