<% include partials/header%>
  <link rel="stylesheet" href="stylesheets/landing.css">
  <div class="landing-div">
    <div>
      <form action="/login" method="POST" class="form-div">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <button>Log in</button>
      </form>
    </div>
  </div>

<% include partials/footer%>